.arc_calendar_container {
  width: 100%;
  min-height: 4.5em;
  border: .2em solid #333;
  position: relative;

  .type_0 {
    background-color: #aaffaa;
  }

  .type_1 {
    background-color: #ffaaaa;
  }

  .type_2 {
    background-color: #aaaaff;
  }

  .type_3 {
    background-color: #ffddff;
  }

  .arc_calendar_menu {
    background-color: #ccc;

    .arc_calendar_prev_month,
    .arc_calendar_next_month {
      float: left;
      margin-left: 2em;
      width: 1.5em;
      height: 1.5em;
      margin-top: .3em;
      text-align: center;
      cursor: pointer;
      font-size: 1.5em;
      line-height: 1.4em;
      border-radius: 50%;
      background-color: #ddd;
      color: #aaa;
      box-shadow: inset 0 -.02em 0 0 #fafafa, inset 0 .06em 0 0 #999999;

      &:hover {
        background-color: #bbb;
        color: #fff;
      }
    }

    .arc_calendar_current_month {
      // float: left;
      margin: 0 auto;
      width: 60%;
      text-align: center;
      height: 2em;
      line-height: 2em;
      font-size: 1.5em;
    }

    .arc_calendar_next_month {
      float: right;
      margin-right: 2em;
      margin-left: auto;

      &:after {
        content: '';
        clear: both;
      }
    }

    &:after {
      content: '';
      clear: both;
    }
  }

  .arc_calendar_cal_container {
    &:before {
      content: '';
      clear: both;
    }
    background-color: #eef0ee;
    min-height: 3em;

    table {
      width: 100%;
      border-collapse: collapse;
    }

    .arc_calendar_day_header {
      width: 14.28%;
      text-align: center;
      border-bottom: .2em solid #555;
      font-variant: small-caps;
      font-weight: bold;
    }

    td:not(.arc_calendar_day_header) {
      border: .1em solid #999;
      padding: 0;
      cursor: pointer;
      div {
        height: 3em;
        padding: .2em .3em;
        font-size: 1.2em;
        color: #999;
        position: relative;
      }
    }

    td.arc_calendar_inactive_day {
      background-color: #888;
      border: .1em solid #000;
      cursor: default;
    }
  }

  .arc_calendar_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: none;
  }

  .arc_calendar_popup_container {
    position: absolute;
    width: 90%;
    left: 3%;
    min-height: 2em;
    background-color: #fff;
    box-shadow: 0 0 .5em 0 #333;
    border-radius: .3em;
    display: none;
    padding: .5em;
    top: 4em;

    .arc_calendar_close_button {
      position: absolute;
      top: -.5em;
      right: -.5em;
      background-color: #666666;;
      color: #ffffff;
      border-radius: 50%;
      height: 1.5em;
      width: 1.5em;
      text-align: center;
      font-size: 1.5em;
      line-height: 1.4em;
      cursor: pointer;
      border: .2em solid #ffffff;
      box-shadow: 0 0 .2em 0 #999999;
    }

    .arc_calendar_popup_dynamic_content {
      .arc_calendar_event_type_label {
        padding: .2em;
        font-weight: bold;
      }

      .arc_calendar_event_summary {
        padding: .2em;
        margin-top: .3em;
        box-shadow: inset 0 0 .3em 0 #ccc;
        background-color: #eeeeee;
      }  
    }
  }
}